body {
  background: #F9F9F9;
}

h1 { 
  font-size: 16px;
  color: red;
  border-bottom: 3px solid #000000;
}

label { 
  font-size: 10px;
  font-weight: bold;
  color: #9090E0;
}

p {
  margin: 0 0 10px 10px;
  color: #000;
  font-weight: bold;
  font-size: 12px;
}