Source: xplico
Section: net
Priority: optional
Maintainer: Gianluca Costa <g.costa@xplico.org>
Build-Depends: debhelper (>= 7.0.50~), libpcap-dev, libsqlite3-dev, libssl-dev, sqlite3, autoconf, make, gcc, libtool, zlib1g-dev, libpq-dev, sqlite3, libgeoip-dev, libndpi-dev, libjson-c-dev, pkg-config
Standards-Version: 3.9.1
Homepage: http://www.xplico.org

Package: xplico
Architecture: any
Depends:  ${shlibs:Depends}, tshark, python3-minimal, python3-httplib2, python3-psycopg2, apache2, php-common | php5-common, libapache2-mod-php | libapache2-mod-php5, php-sqlite3 | php5-sqlite, php-cli | php5-cli, recode, sox, lame, sqlite3, openssl, php-json | php5-json, libgeoip-dev, libndpi-dev, libjson-c-dev
Description: Network Forensic Analysis Tool (NFAT)
 The goal of Xplico is extract from an internet traffic
 capture the applications data contained. For example,
 from a pcap file Xplico extracts each email (POP, IMAP,
 and SMTP protocols), all HTTP contents, each VoIP call (SIP, MGCP, H323),
 FTP, TFTP, and so on. Xplico is not a network protocol analyzer.
