/* tables */
table {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color:#333;
  background-color: #fff;
  padding: 0;
  margin: 0 0 5px 0;
  white-space: normal;
}
th {
  background: #D9E2E1 none repeat scroll 0 0;
  border-bottom: 1px solid #A2ADBC;
  color: #616B76;
  font-size: 10pt;
  text-align: center;
  padding:1px 4px;
}
table tr td {
  width: 30px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1px 1px;
  vertical-align: top;
  text-align: center;
}
table tr:focus,
table tr:hover
{
  color: #000;
  background: #E7F1F3;
  border: 1px solid #888;
}
table tr.altRow td {
  background: #f4f4f4;
}
table td.actions {
  white-space: nowrap;
}
#cakeSqlLog td {
  text-align: left;
  padding: 4px 8px;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

/* scaffold show */
div.related {
  display: block;
}

dl {
  margin: 0;
  width: 100%;
}
dt {
  font-weight: bold;
  vertical-align: top;
  margin-right: 50%;
  line-height: 15px;
}
dd {
  margin-left: 50%;
  margin-top: -15px;
  vertical-align: top;
  padding-left: 5px;
}

.solinfo dd {
  margin-left: 45%;
}

/* notices and errors */
#flashMessage, .error, .error_message {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #D1D9C4;
  padding: 10px;
  background-color: white;
  color: #900;
  font-size: 16px;
  margin: 0 40px 0 40px;
  font-weight: bold;
  padding: 2px 10px;
}
.error_message {
}
.error em {
  font-size: 18px;
  color: #003d4c;
}
.notice {
  color: #656565;
  font-size: 14px;
  background-color: #f4f4f4;
  padding: 0.5em;
  margin: 1em 0;
  display:block;
}
.tip {
  color: #656565;
  background-color: #ddd;
}


/* forms */
form div {
  vertical-align: text-top;
  margin-left: 1em;
/*  margin-bottom:2em;*/
}

form div.input { 
  float: left;
}

form div.date{
  margin-left: 0em;
}

label {
  float: left;
  width: 100px;
  font-size: 14px;
  padding-right: 20px;
}

input[type=checkbox] {
  float: left;
  clear: left;
  margin: 2px 6px 7px 2px;
}

input[type=radio] {
  margin: 0px 2px 0px 7px;
}

input, textarea {
  font-size: 14px;
  font-family: inherit;
  color: #090909;
  background: #EEE;
  border: 1px solid #CCC;
  margin: 0;
}

input[type=submit] {
  font-size: 14px;
  font-family: inherit;
  color: #090909;
  background: #EEE;
  border: 1px solid #CCC;
  /*margin-top: 5px;*/
  margin-left: 120px; /* see label */
  display: inline;
  vertical-align: bottom;
  cursor: pointer;
}

select {
  clear: both;
  vertical-align: text-bottom;
  font-size: 14px;
  font-family: inherit;
  color: #000;
  background: #E7F1F3;
  border: 1px solid #888;
}

option {
  font-size: 14px;
  font-family: inherit;
  padding: 0 0.3em;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
  color: #000;
  background: #E7F1F3;
  border: 1px solid #888;
}

/* overlay */ 
div.overlay, #overlay {
  padding: 40px;	
  /*width: 576px; vedi a.player */
  width: 400px;
  display: none;
  background-image: url(/img/over_white.png);
}

div.overlay div.close, #overlay div.close {
  background: url(/img/over_close.png) no-repeat;
  position: absolute;
  top: 2px;
  right: 5px; 
  width: 35px;
  height: 35px;
  cursor: pointer;
}

a.player { 		
  display: block;
  /*height: 450px; vedi div.overlay*/
  height: 300px;
}

#SearchLabel {
  margin-left: 8px;
  margin-right: 8px;
}

object.html {
  width: 100%;
}
